@startuml {{.Name}}

start

if (direction?) then (ingress)
{{ range $_, $v := .Spec.Ingress -}}
	fork
{{ range $_, $f := $v.From -}}
{{ if $f.IPBlock -}}
	{{ (print ":" $f.IPBlock.CIDR) }};
	floating note left: IP Block
	fork again
{{- end -}}
{{if $f.NamespaceSelector -}}
{{ range $index, $label := $f.NamespaceSelector.MatchLabels -}}
    {{ (print ":" $label) | indent 4 }};
    floating note left: {{$index}}
	fork again
{{- end -}}
{{- end }}
{{if $f.PodSelector -}}
{{ range $index, $label := $f.PodSelector.MatchLabels -}}
	{{ (print ":" $label) | indent 4 }};
    floating note left: {{$index}}
	fork again
{{- end }}
{{- end }}
{{- end }}
{{- end }}
  end fork
else (egress)
{{ range $_, $v := .Spec.Egress -}}
	fork
{{ range $_, $f := $v.To -}}
{{ if $f.IPBlock -}}
	{{ (print ":" $f.IPBlock.CIDR) }};
	floating note left: IP Block
	fork again
{{- end -}}
{{if $f.NamespaceSelector -}}
{{ range $index, $label := $f.NamespaceSelector.MatchLabels -}}
    {{ (print ":" $label) | indent 4 }};
    floating note left: {{$index}}
	fork again
{{- end -}}
{{- end }}
{{if $f.PodSelector -}}
{{ range $index, $label := $f.PodSelector.MatchLabels -}}
	{{ (print ":" $label) | indent 4 }};
    floating note left: {{$index}}
	fork again
{{- end }}
{{- end }}
{{- end }}
{{- end }}
  end fork
endif

@enduml